<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-6">
      <span class="artist">{{ artist }}</span> - 
      <span class="album">{{ album }}</span>
      <div class="row title">
        {{ title }}
      </div>
      <div class="row player-buttons">
        <button class="btn btnPlay">
          play
        </button>
        <button class="btn btnPause">
          pause
        </button>
        <button class="btn btnPrev">
          prev
        </button>
        <button class="btn btnNext">
          next
        </button>
        <button class="btn btnVolDown">
          vol-
        </button>
        <button class="btn btnVolUp">
          vol+
        </button>
      </div>
      <div class="row player-buttons">
        <button class="btn btnShowSearch">
          search
        </button>
        <button class="btn btnShowPlaylist">
          playlist
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <pre class="fullPath">{{ filename }}</pre>
      <div class="row">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          </div>
        </div>
        vol: <span class="volume"></span>
      </div>
    </div>
  </div>
</div>

<audio id="audio2" 
   preload="auto">
   <p>Your browser does not support the audio element</p>
</audio>
