<div class="col-lg-6">
  <div class="input-group">
    <input id="q" type="text" class="form-control">
    <span class="input-group-btn">
      <button id="btnSubmit" class="btn btn-default" type="submit">Go!</button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<div class="col-lg-2">
  <button class="btn btnPrevPage">
    prev
    {{!-- <span class="glyphicon glyphicon-chevron-left"></span> --}}
  </button>
  <button class="btn btnNextPage">
    next
    {{!-- <span class="glyphicon glyphicon-chevron-right"></span> --}}
  </button>
</div><!-- /.col-lg-6 -->
<div class="col-lg-4 stats">
  <span id="pageNumber">{{ page }}</span> of <span id="totalPageNumber">{{ totalPages }}</span>
  ( <span id="totalMovies">{{ total }}</span> songs )
</div>
