  <form id="searchForm" class="form-inline" role="form">
    <div class="col-lg-6">
      <div class="input-group">
        <input id="q" type="text" class="form-control">
        <span class="input-group-btn">
          <button id="btnSubmit" class="btn btn-default" type="submit">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </form>
