<table class="table table-bordered table-hover table table-striped">
  <thead>
    <tr>
      <th class="play-col">
        PLAY
      </th>
      <th class="play-col">
        ADD
      </th>
      <th class="col-lg-4">
        artist
      </th>
      <th class="col-lg-4">
        album
      </th>
      <th class="track-col">
        #NUM
      </th>
      <th class="col-lg-4">
        title
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>