<table class="table table-bordered table-hover table table-striped">
  <thead>
    <tr>
      <th>
        artist
      </th>
      <th>
        album
      </th>
      <th>
        title
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>